@import '../../../../scss/index';
li {
  border: dashed 0.1rem $color-grey-dark;
  border-radius: 0.5rem;

  h4 {
    text-transform: capitalize;
    text-align: center;
  }
  img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
@include responsive-for-desktop {
  li {
    padding: 5%;
  }
}
