$font-family: 'Dosis';
$font-family-bold: 'Dosis-Bold';
$color-grey-dark: #999999;
$body-background-color: #deeded;
$search-box-color: #c9dde1;
$font-color: #2e3156;
$white-color: white;
$popover-color: #2e3156;
$stat-background-color: #b1d2d2;
$progress-background-color: #93b2b2;
$font-size-xlg: 2rem;
$font-size-lg: 1.3rem;
$font-size-md: 1rem;
$font-size-sm: 0.8rem;
$font-size-xsm: 0.7rem;
$IPad-min-width: 768px;
$IPad-max-width: 1024px;
$desktop-min-width: 1024px;
